@using System.Linq

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoLand</title>

    <link rel="stylesheet" href="~/css/User_Login.css">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <h1 class="motoland"><a href="@Url.Action("User_Login")">MotoLand</a></h1>
    </header>

<link href="~/css/Add_my_car.css" rel="stylesheet" />
<h2>Lista ogłoszeń</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="add-ad-form">
    <button class="btn btn-danger" type="submit">Dodaj ogłoszenie</button>
</form>

<div class="car-ads">
    @if (Model != null && Model.Count > 0)
    {
        <ul class="ad-list">
            @foreach (var ad in Model)
            {
                <li class="ad-card">
                    <h3 class="ad-title">@ad.Make @ad.Model (@ad.Year)</h3>
                    <p class="ad-price"><strong>Cena:</strong> @ad.Price.ToString("C", new System.Globalization.CultureInfo("pl-PL"))</p>
                    <p class="ad-description"><strong>Opis:</strong> @ad.Description</p>
                    <div class="ad-images">
                        @if (!string.IsNullOrEmpty(ad.ImagePaths))
                        {
                            var imagePathList = ad.ImagePaths.Split(",");
                            foreach (var imagePath in imagePathList)
                            {
                                <img src="@imagePath" alt="Obraz samochodu" class="ad-image" />
                            }
                        }
                    </div>
                    <div class="ad-actions">
                        <a href="@Url.Action("Edit", "CarAds", new { id = ad.Id })" class="btn btn-edit">Edytuj</a>
                        <form asp-action="Delete" asp-route-id="@ad.Id" method="post" class="delete-form">
                                <a href="@Url.Action("Delete", "CarAds", new { id = ad.Id })" type="submit" class="btn btn-delete">Usuń</a>
                        </form>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Brak dostępnych ogłoszeń.</p>
    }
</div>
</body>
</html>